<div class="footer pos-f-t">
    <div #tref class="collapse" id="navbarToggleExternalContent" (clickElsewhere)="closeDropdown()">
        <div class="bg-light p-4">
            <div class="mobileNavHeader">
                <div class="d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">X</button>
                </div>
                <img class="logoImg" src="assets/images/logo.jpg">
            </div>
            <div class="row">
                <div *ngFor="let cardItem of cardItems" class="col-md-3 col-sm-12">
                    <div class="card m-3">
                        <div class="row no-gutters">
                            <div class="col-3 bg-dark">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <p class="card-text text-left text-dark">
                                        {{ cardItem.text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="row no-gutters">
                            <div class="col-3 bg-warning">
                            </div>
                            <div class="col-9">
                                <div class="card-body">
                                    <p class="card-text text-left text-dark">
                                        {{ cardItem.text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="collapse" id="navbarFooterIconToggle">
        <p>test</p>
    </div> -->
    <nav class="navbar navbar-light bg-light">
        <div class="footerLogo d-flex justify-content-start">
            <img class="logoImg" src="assets/images/logo.jpg">
        </div>
        <div class="d-flex justify-content-center">
            <button class="navbar-toggler">
                <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                        clip-rule="evenodd" />
                </svg>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler">
                <svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <div class="right d-flex justify-content-end">
            <button class="navbar-toggler mobileIcon" type="button" data-toggle="collapse"
                data-target="#navbarFooterIconToggle" aria-controls="navbarFooterIconToggle" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="webIcon">
                <button class="navbar-toggler">
                    <img class="retate90" src="https://img.icons8.com/material-rounded/24/000000/view-module.png" />
                </button>
                <button class="navbar-toggler">
                    <img src="https://img.icons8.com/material-outlined/24/000000/share.png" />
                </button>
            </div>
        </div>
    </nav>
</div>