.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

    .logoImg {
        height: 40px;
    }

    .footer-center {
        width: calc(100% - 32px);
        position: absolute;
    }

    button {
        border: 0;
        cursor: pointer;

        svg {
            font-size: 34px;
            display: flex;
            align-self: center;
        }

        .retate90 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        .collapse {
            max-height: 93vh;
            overflow: auto;

            .card-body {
                padding: 0.5rem;

                .card-text {
                    font-size: .8em;
                }
            }
        }

        .footerLogo {
            .logoImg {
                display: none !important;
            }
        }
    
        .right {
            .webIcon {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .mobileIcon {
        display: none;
    }

    .mobileNavHeader {
        display: none !important;
    }
}
